<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Телефонна книга</h1>

<p>
    <a href="{% url 'add_contact' %}">Додати контакт</a>
</p>

<form method="get">
    <input
        type="text"
        name="search"
        placeholder="Ім'я або прізвище"
        value="{{ search }}"
    >

    <button type="submit">Пошук</button>

    <a href="{% url 'contact_list' %}">Показати всі</a>
</form>

<br>

<table border="1" cellpadding="7">
    <tr>
        <th>Ім'я</th>
        <th>Прізвище</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Примітки</th>
    </tr>

    {% for contact in contacts %}
        <tr>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.notes }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">Контактів не знайдено</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>